@import '../styles/variables';

.home-header-container {
    margin: 0;

    .home-header-content {

        .header-nav-container {
            display: flex;
            justify-content: space-between;
            box-shadow: 7px 7px 10px -5px #fbfbfb59;
            position: fixed;
            z-index: 100;
            top: 0px;
            height: 90px;
            width: 100%;
            // background-color: $colorFirst;
            background-color: rgb(203, 228, 238);
            margin: auto;

            .content-logo {
                background: url('../assets/logo-horizontal.png') center center no-repeat;
                background-size: cover;
                width: 250px;
                height: 100%;
                margin-left: 25px;
            }

            .content-right {
                display: flex;
                margin-right: 20px;

                .child-content-right {
                    text-decoration: none;
                    margin: auto 20px;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: pointer;
                    // color: $colorSecond;
                    color: rgb(26, 113, 189);
                }
            }
        }

        .home-banner {
            width: 100%;
            height: 450px;
            background-color: #ccc;

            .banner-content {
                margin: 0 auto;
                width: 100%;
                height: 450px;

                .child-banner {
                    width: 100%;
                    height: 450px;
                    position: relative;

                    .title-banner {
                        position: absolute;
                        left: 50%;
                        top: 70%;
                        width: fit-content;
                        transform: translate(-50%);
                        font-family: Sora, sans-serif;
                        font-size: 50px;
                        font-weight: 600;
                        color: #fff;
                        text-transform: uppercase;
                        // -webkit-animation-name: animatetop;
                        // -webkit-animation-duration: 0.4s;
                        // animation-name: animatetop;
                        // animation-duration: 0.4s;
                    }

                    .content-banner {
                        position: absolute;
                        left: 50%;
                        top: 85%;
                        transform: translate(-50%);
                        font-family: 'Poppins', sans-serif;
                        font-size: 30px;
                        font-weight: 600;
                        color: #fff;
                        animation-name: animatetop;
                        animation-duration: 2s;
                    }

                    &.banner-first {
                        background: url('../assets/3d-tech.jpg') center center no-repeat;
                        background-size: cover;
                    }

                    &.banner-second {
                        background: url('../assets/webdesign.jpg') center center no-repeat;
                        background-size: cover;
                    }

                    &.banner-third {
                        background: url('../assets/banner-drone.jpg') center center no-repeat;
                        background-size: cover;
                    }

                    &.banner-fourth {
                        background: url('../assets/banner-quan-tri-doanh-nghiep.jpg') center center no-repeat;
                        background-size: cover;
                    }
                }

                .slick-next {
                    position: absolute;
                    right: 30px;
                    height: 50px;
                    width: 50px;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    z-index: 10;
                }

                .slick-prev {
                    position: absolute;
                    left: 30px;
                    height: 50px;
                    width: 50px;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    z-index: 10;
                }

                .slick-next:before,
                .slick-prev:before {
                    color: rgba(0, 0, 0, 0.4);
                    font-weight: 800;
                    font-size: 55px;
                }

                .slick-disabled {
                    display: none !important;
                }
            }
        }
    }

    @-webkit-keyframes animatetop {
        from {
            left: 0%;
        }

        to {
            left: 50%;
        }
    }

    @keyframes animatetop {
        from {
            left: 0%;
        }

        to {
            left: 50%;
        }
    }
}

.section-business-container {
    .header-section-business {
        .title-section {
            text-align: center;
            margin-top: 40px;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: bold;
            color: $colorTitle;
        }

        .subs-title {
            font-family: 'Poppins', sans-serif;
            text-align: center;
            margin-bottom: 20px;
            color: $colorSubsTitle;
        }
    }

    .section-content {
        width: 90%;
        height: 550px;
        margin: 0 auto;

        .child-content {
            height: 500px;
            margin: 0 10px;
            position: relative;
            cursor: pointer;

            &.child-background-first {
                background: url('../assets/phan-tich-chi-tiet-khi-quan-ly-tai-chinh.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-second {
                background: url('../assets/web-development.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-third {
                background: url('../assets/3d-bussiness2.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-fourth {
                background: url('../assets/drone-business4.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-fiveth {
                background: url('../assets/truyen-hinh.png') center center no-repeat;
                background-size: cover;
            }

            .title-child {
                display: block;
                padding-top: 10px;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                color: #fff;
            }
        }

        .child-content:hover {

            .title-child {
                color: #000;
            }
        }

        .slick-next,
        .slick-prev {
            height: 50px;
            width: 50px;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            z-index: 10;
        }

        .slick-next:before,
        .slick-prev:before {
            color: rgba(0, 0, 0, 0.1);
            font-weight: 800;
        }

        .slick-disabled {
            display: none !important;
        }
    }
}

.section-project-container {
    background-color: $colorFirst;
    margin-top: 50px;
    padding-top: 20px;
    display: flex;

    .header-section-project {
        margin: 0 auto;

        .title-section {
            width: fit-content;
            text-align: center;
            margin-top: 40px;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: bold;
            color: $colorTitle;
        }
    }

    .section-content {
        width: 60%;
        height: 550px;
        margin: 40px auto 0;

        .child-content {
            height: 500px;
            background-color: #ccc;
            position: relative;

            &.child-background-first {
                background: url('../assets/linh-vuc-pham-mem.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-second {
                background: url('../assets/cases.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-third {
                background: url('../assets/quản-lí.png') center center no-repeat;
                background-size: cover;
            }

            &.child-background-fourth {
                background: url('../assets/quản-lí.png') center center no-repeat;
                background-size: cover;
            }

            &.child-background-fiveth {
                background: url('../assets/quản-lí.png') center center no-repeat;
                background-size: cover;
            }

            .title-child {
                padding-top: 10px;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                color: $colorFirst;
            }
        }

        .slick-next,
        .slick-prev {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            z-index: 10;
        }

        .slick-next:before,
        .slick-prev:before {
            color: #fff;
            font-weight: 800;
            font-size: 50px;
        }

        .slick-disabled {
            display: none !important;
        }
    }
}

.home-footer-container {

    height: fit-content;
    background-color: #fff;
    margin-top: 30px;

    .footer-content {
        display: flex;
        justify-content: space-around;

        .logo-footer {
            background: url('../assets/logo.jpg') center center no-repeat;
            background-size: cover;
            width: 200px;
            height: 200px;
        }

        .content-left-footer {
            height: fit-content;
            margin: auto 0;
            color: #000;

            .child-content-left {
                font-family: 'Poppins', sans-serif;
                margin: 3px;
                font-size: 18px;
                font-weight: 600;
            }
        }

        .content-right-footer {
            height: fit-content;
            margin: auto 0;
            color: #000;

            .child-content-title {
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
                margin: 3px;
                font-weight: 600;
            }

            .child-content-right {
                font-family: 'Poppins', sans-serif;
                margin: 3px;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }


    .copy-right {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }

}

.list-price-container {
    .title-section-price {
        text-align: center;
        margin-top: 40px;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: bold;
        color: $colorTitle;
    }

    .list-price-content {
        display: flex;

        .child-content-price {
            width: 20vw;

            .content-child {
                font-size: 18px;
                font-weight: 500;
                margin: 15px;

                li {
                    margin: 3px;
                }
            }

            &.child-price-discount {
                background-color: $colorFirst;
                color: $colorSecond;
            }

            border: 1px solid red;
            margin: 30px;

            .title-child {
                text-align: center;
                font-size: 26px;
                text-transform: uppercase;
                font-weight: 700;
                margin: 15px 0;
            }

            a {
                display: block;
                text-decoration: none;
                color: #000;
                width: 80%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                margin: 15px auto;
                background-color: red;
                color: #fff;
                font-size: 26px;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }

    .achievement-content {
        display: flex;
        margin-top: 50px;
        justify-content: space-around;
        height: 250px;
        align-items: center;
        background-color: $colorFirst;

        .child-achievement {
            color: #fff;
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon-child {
                font-size: 70px
            }

            .number-child {
                margin: 10px 0;
                font-size: 30px;
                font-weight: 600;
            }

            .title-child {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}