//phone
@import '../styles/variables';

@media (max-width: 420px) {
    .home-header-container {

        // height: 40px;
        .header-nav-container {

            .content-right {
                a {
                    display: none;
                }
            }
        }

        .home-banner {
            height: 450px;

            .banner-content {
                height: 450px;

                .child-banner {
                    height: 450px;

                    .title-banner {
                        width: 300px;
                        bottom: 70px;
                        font-size: 30px;
                    }

                    .content-banner {
                        width: 300px;
                        bottom: 40px;
                        font-size: 16px;
                    }
                }
            }
        }

    }

    .title-section {
        text-align: center;
        margin-top: 40px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        color: $colorTitle;
    }

    .section-business-container {

        .margin-top-section {
            .grid {
                width: 300px;
            }
        }

        .section-content {
            position: relative;

            .child-content {
                margin-top: 20px;

                .title-child {
                    font-size: 20px;
                }
            }

            .slick-next {
                position: absolute;
                top: 0px;
                right: calc(50% - 25px);
                background: none;
                height: 25px;
                width: 25px;
            }

            .slick-prev {
                position: absolute;
                top: 0px;
                left: calc(50% - 25px);
                background: none;
                height: 25px;
                width: 25px;
            }

            .slick-next:before {
                content: url('../assets/arrow/icons8-right-25.png');
            }


            .slick-prev:before {
                content: url("../assets/arrow/icons8-arrow-left-25.png");
            }
        }

    }

    // .slick-next,
    // .slick-prev {
    //     display: none !important;
    // }

    .achievement-container {
        .achievement-content {
            grid-template-columns: 1fr 1fr;

            .title-child {
                font-size: 15px;
            }
        }
    }

    .form-contact-container {
        .contact-image {
            display: none;
        }

        .contact-content {
            padding: 0 30px;

            .contact-title {
                .header-contact {
                    margin: 10px 0;
                    text-align: left;
                    text-transform: uppercase;
                    font-size: 22px;
                    font-weight: bold;
                    color: $colorTitle;
                }

                .content-contact {
                    text-align: left;
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                }
            }

            .contact-form {
                display: flex;
                flex-direction: column;
                margin: 10px 0;

                input,
                select,
                button {
                    padding: 0 5px;
                    width: 270px;
                    height: 40px;
                    margin: 5px 0;
                    box-sizing: border-box;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                }

                option {
                    width: 350px;
                    height: 40px;
                }

                button {
                    background-color: $colorSecond;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }

    .home-footer-container {

        height: fit-content;
        background-color: #fff;
        margin-top: 30px;

        .footer-content {
            display: flex;
            flex-direction: column;


            .logo-footer {
                background: url('../assets/logo.jpg') center center no-repeat;
                background-size: cover;
                width: 200px;
                height: 200px;
                margin: auto;
            }

            .content-left-footer {
                height: fit-content;
                margin: auto 10px;
                text-align: center;
                color: #000;

                .child-content-left {
                    font-family: 'Poppins', sans-serif;
                    margin: 3px;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .content-right-footer {
                display: none;
            }
        }


        .copy-right {
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            margin: 10px 0;
        }

    }
}