@import '../styles/variables';

.home-header-container {
    margin: 0;
    // width: 100vw;

    .home-header-content {

        .header-nav-container {
            display: flex;
            justify-content: space-between;
            box-shadow: 7px 7px 10px -5px #fbfbfb59;
            position: fixed;
            z-index: 100;
            top: 0px;
            height: 90px;
            width: 100%;
            background-color: $colorSecond;
            margin: auto;

            .content-logo {
                background: url('../assets/logo-horizontal.png') center center no-repeat;
                background-size: cover;
                width: 250px;
                height: 100%;
                // margin-left: 25px;
            }

            .content-right {
                display: flex;
                // padding-right: 20px;

                .child-content-right {
                    text-decoration: none;
                    margin: auto 10px;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: pointer;
                    // color: $colorSecond;
                    color: rgb(26, 113, 189);
                }

                .language {
                    margin: auto 10px;
                    line-height: 40px;
                    height: 40px;
                    box-shadow: 0 0 2px 1px $colorFirst;
                    border-radius: 5px;

                    span {
                        margin: 5px;
                        font-weight: 500;
                        cursor: pointer;

                        &.active {
                            color: $colorFirst
                        }
                    }
                }
            }
        }

        .home-banner {
            height: 450px;

            .banner-content {
                height: 450px;

                .child-banner {
                    height: 450px;
                    position: relative;

                    .title-banner {
                        position: absolute;
                        text-align: center;
                        transform: translate(-50%);
                        font-family: Sora, sans-serif;
                        font-weight: 600;
                        color: #fff;
                        text-transform: uppercase;
                    }

                    .content-banner {
                        position: absolute;
                        text-align: center;
                        transform: translate(-50%);
                        font-family: 'Poppins', sans-serif;
                        font-weight: 600;
                        color: #fff;
                    }

                    &.banner-first {
                        background: url('../assets/3d-tech.jpg') center center no-repeat;
                        background-size: cover;
                    }

                    &.banner-second {
                        background: url('../assets/webdesign.jpg') center center no-repeat;
                        background-size: cover;
                    }

                    &.banner-third {
                        background: url('../assets/banner-drone.jpg') center center no-repeat;
                        background-size: cover;
                    }

                    &.banner-fourth {
                        background: url('../assets/banner-quan-tri-doanh-nghiep.jpg') center center no-repeat;
                        background-size: cover;
                    }
                }

                .slick-next {
                    position: absolute;
                    right: 30px;
                    height: 50px;
                    width: 50px;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    z-index: 10;
                }

                .slick-prev {
                    position: absolute;
                    left: 30px;
                    height: 50px;
                    width: 50px;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    z-index: 10;
                }

                .slick-next:before,
                .slick-prev:before {
                    color: rgba(0, 0, 0, 0.4);
                    font-weight: 800;
                    font-size: 55px;
                }

                .slick-disabled {
                    display: none !important;
                }
            }
        }
    }

    @-webkit-keyframes animatetop {
        from {
            left: 0%;
        }

        to {
            left: 50%;
        }
    }

    @keyframes animatetop {
        from {
            left: 0%;
        }

        to {
            left: 50%;
        }
    }
}

.section-business-container {
    .header-section-business {
        // .title-section {
        //     text-align: center;
        //     margin-top: 40px;
        //     text-transform: uppercase;
        //     font-size: 32px;
        //     font-weight: bold;
        //     color: $colorTitle;
        // }

        .subs-title {
            font-family: 'Poppins', sans-serif;
            text-align: center;
            margin-bottom: 20px;
            color: $colorSubsTitle;
        }
    }

    .section-content {
        width: 90%;
        height: 550px;
        margin: 0 auto;

        .child-content {
            height: 500px;
            margin: 0 10px;
            position: relative;
            cursor: pointer;

            &.child-background-first {
                background: url('../assets/phan-tich-chi-tiet-khi-quan-ly-tai-chinh.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-second {
                background: url('../assets/web-development.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-third {
                background: url('../assets/3d-bussiness2.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-fourth {
                background: url('../assets/drone-business4.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-fiveth {
                background: url('../assets/truyen-hinh.png') center center no-repeat;
                background-size: cover;
            }

            .title-child {
                display: block;
                padding-top: 10px;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                color: #fff;
            }
        }

        .child-content:hover {

            .title-child {
                color: #000;
            }
        }

        .slick-next,
        .slick-prev {
            height: 50px;
            width: 50px;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            z-index: 10;
        }

        .slick-next:before,
        .slick-prev:before {
            color: rgba(0, 0, 0, 0.1);
            font-weight: 800;
        }

        .slick-disabled {
            display: none !important;
        }
    }
}

@media screen and (min-width : 1020px) and (max-width: 10000px) {
    .section-project-container {
        display: flex;

        .section-content {
            width: 60%;

        }
    }

}


@media screen and (min-width : 820px) and (max-width: 1020px) {
    .section-project-container {
        display: flex;

        .section-content {
            width: 60%;

        }
    }


}


@media screen and (min-width : 450px) and (max-width: 820px) {
    .section-project-container {
        display: flex;

        .section-content {
            width: 60%;

        }
    }


}


@media screen and (max-width: 450px) {
    .section-project-container {
        display: block;

        .section-content {
            width: 90%;

        }
    }

    .form-contact-container {
        .detail-contact {
            text-align: center;

        }

        .header-contact {
            text-align: center !important;

        }
    }
}


.section-project-container {
    background-color: $colorFirst;
    margin-top: 50px;
    padding: 20px 0;
    // display: flex;

    .header-section-project {
        margin: 50px auto;

        // .title-section {
        //     width: fit-content;
        //     text-align: center;
        //     margin-top: 40px;
        //     text-transform: uppercase;
        //     font-size: 32px;
        //     font-weight: bold;
        //     color: $colorTitle;
        // }
    }

    .section-content {
        // width: 60%;
        height: 550px;
        margin: 0px auto 0;

        .title-child {
            height: 50px;
            line-height: 50px;
            padding-top: 10px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
        }

        .child-content {
            height: 500px;
            background-color: #ccc;
            position: relative;
            border-radius: 5px;
            border: 3px solid $colorFirst;

            &.child-background-first {
                background: url('../assets/nt_web_home.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-second {
                background: url('../assets/cases.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-third {
                background: url('../assets/qrscan.png') center center no-repeat;
                background-size: cover;
            }

            &.child-background-fourth {
                background: url('../assets/quanli-nhansu.png') center center no-repeat;
                background-size: cover;
            }

            &.child-background-fiveth {
                background: url('../assets/3dwebhome.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-sixth {
                background: url('../assets/lotte.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-seventh {
                background: url('../assets/banhang.png') center center no-repeat;
                background-size: cover;
            }

            &.child-background-eighth {
                background: url('../assets/tiepthi.png') center center no-repeat;
                background-size: cover;
            }

            &.child-background-nineth {
                background: url('../assets/boost.jpg') center center no-repeat;
                background-size: cover;
            }

            &.child-background-10 {
                background: url('../assets/3dlanhtho.png') center center no-repeat;
                background-size: cover;
            }

            &.child-background-11 {
                background: url('../assets/mapheart.jpg') center center no-repeat;
                background-size: cover;
            }


        }

        .slick-next,
        .slick-prev {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            z-index: 10;
        }

        .slick-next:before,
        .slick-prev:before {
            color: #fff;
            font-weight: 800;
            font-size: 50px;
        }

        .slick-disabled {
            display: none !important;
        }
    }
}

.home-footer-container {

    height: fit-content;
    background-color: #fff;
    margin-top: 30px;

    .footer-content {
        display: flex;
        justify-content: space-around;

        .logo-footer {
            background: url('../assets/logo.jpg') center center no-repeat;
            background-size: cover;
            width: 200px;
            height: 200px;
        }

        .content-left-footer {
            height: fit-content;
            margin: auto 0;
            color: #000;

            .child-content-left {
                font-family: 'Poppins', sans-serif;
                margin: 3px;
                font-size: 18px;
                font-weight: 600;

                &.addition {
                    margin: 0;
                    margin-left: 30px;
                }
            }
        }

        .content-right-footer {
            height: fit-content;
            margin: auto 0;
            color: #000;

            .child-content-title {
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
                margin: 3px;
                font-weight: 600;
            }

            .child-content-right {
                font-family: 'Poppins', sans-serif;
                margin: 3px;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }


    .copy-right {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }

}

.achievement-container {
    width: 100%;

    .achievement-content {
        padding: 20px 0;
        display: grid;
        margin-top: 50px;
        background-color: $colorFirst;
        // grid-template-columns: 1fr 1fr 1fr 1fr;

        .child-achievement {
            margin: 10px auto;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon-child {
                font-size: 70px
            }

            .number-child {
                margin: 10px 0;
                font-size: 30px;
                font-weight: 600;
            }

            .title-child {
                // font-size: 20px;
                font-weight: 600;
            }
        }
    }
}

.service-container {
    // .title-section {
    //     text-align: center;
    //     margin-top: 40px;
    //     text-transform: uppercase;
    //     font-size: 32px;
    //     font-weight: bold;
    //     color: $colorTitle;
    // }

    .service-child-container {
        margin-top: 20px;

        .service-child {
            text-align: center;
            margin: 5px 0;
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
        }
    }
}

.form-contact-container {
    padding: 30px 0;
    background-color: $colorFirst;
    display: flex;

    .contact-image {
        // background: url('../assets/contact-me.png') center center no-repeat;
        // background-size: cover;
        width: 789px;
        height: 562px;
        margin: auto;
        border-radius: 10px;
    }

    .contact-content {
        padding: 0 30px;
        margin: 0 auto;

        .contact-title {
            .header-contact {
                margin: 10px 0;
                text-transform: uppercase;
                font-size: 22px;
                font-weight: bold;
                color: $colorTitle;
            }

            .content-contact {
                // text-align: left;
                font-size: 18px;
                font-family: 'Poppins', sans-serif;
            }
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            margin: 10px 0;

            input,
            select,
            button {
                padding: 0 5px;
                width: 350px;
                height: 40px;
                margin: 5px 0;
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
            }

            option {
                width: 350px;
                height: 40px;
            }

            button {
                background-color: $colorSecond;
                border: none;
                cursor: pointer;
            }
        }
    }
}

.associated-company-container {

    // .associated-company-title {
    // .title-section {
    //     text-align: center;
    //     margin-top: 40px;
    //     text-transform: uppercase;
    //     font-size: 32px;
    //     font-weight: bold;
    //     color: $colorTitle;
    // }

    .child-content-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        // display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 30px auto;

        .child-content {
            text-align: center;
            margin: 20px auto;
            border-radius: 5px;
            width: 200px;
            height: 200px;
            box-shadow: 0 0 7px 6px rgb(0 0 0 / 40%);

            .title-company {
                margin-top: 10px;
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
                font-weight: 500;
            }

            .logo-company {
                margin: 20px auto;

                &.com-1 {
                    background: url('../assets/logictic.png') center center no-repeat;
                    background-size: cover;
                    width: 120px;
                    height: 70px;
                }

                &.com-2 {
                    background: url('../assets/geoscan.png') center center no-repeat;
                    background-size: cover;
                    width: 150px;
                    height: 70px;
                }

                &.com-3 {
                    background: url('../assets/tnt-logo.png') center center no-repeat;
                    background-size: cover;
                    width: 150px;
                    height: 70px;
                }

                &.com-4 {
                    background: url('../assets/site.png') center center no-repeat;
                    background-size: cover;
                    width: 150px;
                    height: 70px;
                }

                &.com-5 {
                    background: url('../assets/yandex.jpg') center center no-repeat;
                    background-size: cover;
                    width: 70px;
                    height: 70px;
                }
            }

            .button-see-more {
                display: block;
                margin: 0 auto;
                width: 150px;
                height: 35px;
                line-height: 35px;
                text-decoration: none;
                border: none;
                background-color: $colorFirst;
                color: #fff;
                font-size: 15px;
                font-family: 'Poppins', sans-serif;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}