@import '../styles/variables';

//laptop
@media (min-width: 840px) {
    .home-header-container {
        .home-header-content {
            .header-nav-container {
                .content-right {
                    a {
                        display: block;
                    }
                }
            }

            .home-banner {
                height: calc(100vh + 110px);

                .banner-content {
                    height: calc(100vh + 110px);

                    .child-banner {
                        height: calc(100vh + 110px);

                        .title-banner {
                            left: 50%;
                            bottom: 40vh;
                            width: 700px;
                            font-size: 50px;
                        }

                        .content-banner {
                            width: 600px;
                            bottom: 35vh;
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }

    .title-section {
        text-align: center;
        margin-top: 40px;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: bold;
        color: $colorTitle;
    }

    .form-contact-container {
        .contact-image {
            display: block;
        }
    }

    .achievement-container {
        .achievement-content {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .title-child {
                font-size: 20px;
            }
        }
    }

}