$colorFirst: rgb(26, 113, 189);
$colorSecond: rgb(203, 228, 238);
$colorThird: #074c9e;
$color4: #f9e8e4;
$color-bg-flag: #f1efef;
$colorTitle: #e6c169;
$colorSubsTitle: #6d6e70;
$color-hv-header: rgb(27, 44, 89);